@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="container">
        <div class="jumbotron" id="jumbo">
            <h1>Welcome to the Movie App!!!!!</h1>
        </div>
        <a class="btn btn-primary btn btn-lg" asp-controller="Movies" asp-action="Index">Take me to the movies!</a>

    </div>

</div>