@{
    ViewData["Title"] = "Home Page";
}

<div class="container  bg-info">
    <div class="jumbotron" id="jumbo">
        <h1>Lab 5 - Movies</h1>
        <hr />
        <div class="container">
            <a class=" btn btn-lg btn-info" asp-area="" asp-controller="Movies" asp-action="Index" class2="navbar-brand">Movie List</a>
        </div>
    </div>
</div>